$default-font: 'Trebuchet MS', sans-serif;
$exo2-font: 'Exo2', sans-serif;

/*----Size const------*/
$rem-size: 16;

$width-container: 1280;
$padding-container: 15;
$padding-container-mob: 0;

/*----media const------*/
$desk-sm-width: 1100px;
$tab-width: 980px;
$mob-width: 767px;
$xs-mob-width: 479px;

$animate-time: .3s;

